---
import Layout from '../../layouts/Layout.astro';
import ExamMode from '../../components/ExamMode.vue';
import questions from '../../data/questions/exam.json';
---

<Layout title="Simulacro de Examen">
  <div class="max-w-4xl">
    <ExamMode client:load questions={questions} />
  </div>
</Layout>